.notes {
    padding: 56px 0 78px;
    background: $color_gray7;

    @include mq(1470) {
        padding: 56px 0 71px;
    }

    @include mq(991) {
        padding: 50px 0;
    }

    .container {
        @include mq(1470, 9999) {
            padding: 0 145px;
        }

        @include mq(1230, 1470) {
            padding: 0 32px;
        }
    }
   
    &__title, &__list {
        font-family: $Roboto;
        font-size: 14px;
        font-weight: 400;
        color: $color_gray8;
    }

    &__title {
        margin: 0 0 13px;
        font-weight: 700;
    }

    &__list {
        position: relative;
        display: block;
        padding: 0 0 0 20px;
        margin: 0 0 3px;

        &:before {
            content: "—";
            position: absolute;
            top: 0;
            left: 0;
            color: $color_blue3;
        }
    }
}